<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stopwatch</title>
  <!-- <link rel="stylesheet" href="css/splash.css"> -->
</head>

<body>
  <div id="main-screen">
    <main>
      <div class="main">
        <p id="timer">00:00</p>
        <!-- <div class="actions">
          <button class="find pulse-button" type="submit" onclick="location.href='/play';">Find player</button>
        </div> -->
        
      </div>

    </main>
  </div>


</body>
<script src='./js/interactions.js' type="module"></script>

</html>