@keyframes bouncyCircle {
  0%{
      overflow: hidden;
      opacity:0;
      bottom: 99.9990%;
  }
  1%{
      opacity:1;
      bottom: 98.4488%;
  }
  2%{
      bottom: 95.7317%;
  }
  3%{
      bottom: 91.9043%;
  }
  4%{
      bottom: 87.0363%;
  }
  5%{
      bottom: 81.2088%;
  }
  6%{
      bottom: 74.5136%;
  }
  7%{
      bottom: 67.0516%;
  }
  8%{
      bottom: 58.9311%;
  }
  9%{
      bottom: 50.2670%;
  }
  10%{
      bottom: 41.1782%;
  }
  11%{
      bottom: 31.7869%;
  }
  12%{
      bottom: 22.2165%;
  }
  13%{
      bottom: 12.5900%;
  }
  14%{
      bottom: 3.0285%;
  }
  15%{
      bottom: 6.3502%;
  }
  16%{
      bottom: 15.4332%;
  }
  17%{
      bottom: 24.1138%;
  }
  18%{
      bottom: 32.2928%;
  }
  19%{
      bottom: 39.8797%;
  }
  20%{
      bottom: 46.7934%;
  }
  21%{
      bottom: 52.9634%;
  }
  22%{
      bottom: 58.3303%;
  }
  23%{
      bottom: 62.8463%;
  }
  24%{
      bottom: 66.4758%;
  }
  25%{
      bottom: 69.1953%;
  }
  26%{
      bottom: 70.9937%;
  }
  27%{
      bottom: 71.8721%;
  }
  28%{
      bottom: 71.8432%;
  }
  29%{
      bottom: 70.9313%;
  }
  30%{
      bottom: 69.1718%;
  }
  31%{
      bottom: 66.6098%;
  }
  32%{
      bottom: 63.2998%;
  }
  33%{
      bottom: 59.3050%;
  }
  34%{
      bottom: 54.6954%;
  }
  35%{
      bottom: 49.5476%;
  }
  36%{
      bottom: 43.9430%;
  }
  37%{
      bottom: 37.9668%;
  }
  38%{
      bottom: 31.7069%;
  }
  39%{
      bottom: 25.2524%;
  }
  40%{
      bottom: 18.6925%;
  }
  41%{
      bottom: 12.1153%;
  }
  42%{
      bottom: 5.6065%;
  }
  43%{
      bottom: 0.7515%;
  }
  44%{
      bottom: 6.8809%;
  }
  45%{
      bottom: 12.7093%;
  }
  46%{
      bottom: 18.1704%;
  }
  47%{
      bottom: 23.2051%;
  }
  48%{
      bottom: 27.7619%;
  }
  49%{
      bottom: 31.7975%;
  }
  50%{
      bottom: 35.2770%;
  }
  51%{
      bottom: 38.1746%;
  }
  52%{
      bottom: 40.4730%;
  }
  53%{
      bottom: 42.1642%;
  }
  54%{
      bottom: 43.2487%;
  }
  55%{
      bottom: 43.7356%;
  }
  56%{
      bottom: 43.6422%;
  }
  57%{
      bottom: 42.9933%;
  }
  58%{
      bottom: 41.8209%;
  }
  59%{
      bottom: 40.1632%;
  }
  60%{
      bottom: 38.0641%;
  }
  61%{
      bottom: 35.5724%;
  }
  62%{
      bottom: 32.7407%;
  }
  63%{
      bottom: 29.6247%;
  }
  64%{
      bottom: 26.2821%;
  }
  65%{
      bottom: 22.7719%;
  }
  66%{
      bottom: 19.1531%;
  }
  67%{
      bottom: 15.4843%;
  }
  68%{
      bottom: 11.8221%;
  }
  69%{
      bottom: 8.2211%;
  }
  70%{
      bottom: 4.7324%;
  }
  71%{
      bottom: 1.4033%;
  }
  72%{
      bottom: 1.7235%;
  }
  73%{
      bottom: 4.6103%;
  }
  74%{
      bottom: 7.2250%;
  }
  75%{
      bottom: 9.5415%;
  }
  76%{
      bottom: 11.5397%;
  }
  77%{
      bottom: 13.2060%;
  }
  78%{
      bottom: 14.5328%;
  }
  79%{
      bottom: 15.5191%;
  }
  80%{
      bottom: 16.1699%;
  }
  81%{
      bottom: 16.4961%;
  }
  82%{
      bottom: 16.5139%;
  }
  83%{
      bottom: 16.2447%;
  }
  84%{
      bottom: 15.7145%;
  }
  85%{
      bottom: 14.9530%;
  }
  86%{
      bottom: 13.9934%;
  }
  87%{
      bottom: 12.8714%;
  }
  88%{
      bottom: 11.6246%;
  }
  89%{
      bottom: 10.2918%;
  }
  90%{
      bottom: 8.9121%;
  }
  91%{
      bottom: 7.5242%;
  }
  92%{
      bottom: 6.1659%;
  }
  93%{
      bottom: 4.8729%;
  }
  94%{
      bottom: 3.6787%;
  }
  95%{
      bottom: 2.6134%;
  }
  96%{
      bottom: 1.7038%;
  }
  97%{
      bottom: 0.9721%;
  }
  98%{
      bottom: 0.4365%;
  }
  99%{
      bottom: 0.1098%;
  }
  100%{
      opacity:0;
      bottom: 0.0000%;
  }
}
